* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  background: #f1f1f1;
  padding: 30px;
}

.slider {
  margin: 20px auto;
  overflow: hidden;
  border: 2px solid greenyellow;
  max-width: 80%;
}

.slider-line {
  display: flex;
  transition: all ease 1s;
}

