/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Предотвращение увеличения размера шрифта */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Удаление отступов по умолчанию для лучшего контроля в авторском CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Удаление стилей списка в элементах ul, ol с ролью списка, что предполагает удаление стилей по умолчанию */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Установка значений по умолчанию для body */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Установите меньшую высоту строк в заголовках и интерактивных элементах */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Баланс переноса текста в заголовках */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Элементы A, не имеющие класса, получают стили по умолчанию */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Наследование шрифтов для input и button */
input,
button,
textarea,
select {
  font: inherit;
}

/* Убедитесь, что textarea без атрибута rows не будут маленькими */
textarea:not([rows]) {
  min-height: 10em
}

/* Все, к чему были привязаны якоря, должно иметь дополнительные поля прокрутки */
:target {
  scroll-margin-block: 5ex;
}


